<div class="container">
  <form [formGroup]="create" (ngSubmit)="onSubmit()">
    <button>Save</button>
    <div class="col-md-12">
      <p>User Role</p>
      <div class="col-md-4">
          <input type="checkbox" formControlName="isDispatcher"> <label>Dispatcher</label>
      </div>
      <div class="col-md-4">
          <input type="checkbox" formControlName="isDriver"> <label>Driver</label>
      </div>
    </div>
    
    <div class="col-md-12">
        <p style="clear:both;">User Details</p>
        <div class="col-md-4">
            <input type="text" readonly="true" class="form-control" placeholder="Center Desplay ID">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
        </div>
        <div class="col-md-4">
            <img src="https://bitly.vn/45p">
            <div>
              <button style="float:left;">View</button>
              <button style="float:left;">add</button>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-bottom: 6%;">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div>
                <input type="text" class="form-control" placeholder="ID Number(for Driver)" formControlName="carrierCompanyId">
            </div>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
        </div>

      </div>
      <div class="col-md-12">
          <p style="clear:both;">Login Details</p>
          <div class="col-md-4">
              <input type="checkbox" formControlName="loginType"> <label>Login by Phonenumber</label>
          </div>
          <div class="col-md-4">
              <input type="checkbox" formControlName="loginType"> <label>Login by email</label>
          </div>
          <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
          </div>
          <div class="col-md-4">
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div class="col-md-4">
              <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cpassword">
          </div>
          <div class="col-md-4">
              <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
          </div>
         
        </div>
    
    
  </form>
  <!-- <app-usertable></app-usertable> -->
</div>
